@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500|Open+Sans:300italic,500italic,300,400,500|Qwitcher+Grypen:400,700|Poppins:200,300,400,500,600);
html {
  font-size: 62.5%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 300;
  width: 100%;
}

.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px #999399;
  box-shadow: 0px 5px 15px 0px #999399;
}

h2,
h3 {
  text-transform: uppercase;
}

.tit2 {
  font-family: "Poppins", sans-serif;
  color: #150a5b;
}

.tit3 {
  font-family: "Poppins", sans-serif;
  color: white;
}

.enfasis {
  color: #1a55d6;
  font-weight: 700;
}

.w-sm-100 {
  width: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aling-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#content-resume1 {
  background-color: #f9f9f9f9;
  font-family: "Open Sans", "sans-serif";
  padding: 2rem 2rem;
  margin: 0;
  max-width: 1200rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume1-nav-bg {
  background-image: radial-gradient(circle at 103.92% 90.56%, #1739c0 81.25%, #0c62ec 93.75%, #1a55d6 100%);
  border-bottom: 0.2rem solid #03d6f7;
  width: 130rem;
  margin: 0 auto;
  position: fixed;
  top: 1em;
  left: 5em;
}

.resume1-main-nav {
  border-bottom-color: #3e64ee;
  font-family: "Open Sans", "sans-serif";
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume1-main-nav a {
  color: white;
  padding: 0.5rem 6rem;
  font-family: "Open Sans", "sans-serif";
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.8rem;
}

.resume1-main-nav a:hover {
  color: white;
  padding: 0.5rem 6rem;
  background-color: #0c62ec;
}

#content-resumebody {
  margin-top: 12.5rem;
  background-color: #f9f9f9f9;
  font-family: "Open Sans", "sans-serif";
  padding: 2rem 0rem;
  width: 150rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.resume-personalInfo {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: fixed;
  top: 10.5em;
  left: 5em;
  border-radius: 1.5rem;
}

.profile-picture {
  max-width: 19rem;
  max-height: 19rem;
  position: fixed;
  top: 5em;
  left: 9em;
  border-radius: 3.5rem;
}

.title-resume {
  font-size: 6em;
  font-family: "Qwitcher Grypen", cursive;
  background-color: white;
  color: gray;
  text-align: center;
  line-height: 0.7em;
  margin: 0.2em 2em;
}

.resume-CompleteInfo {
  width: 69%;
  background-color: white;
  margin-right: 7rem;
  padding: 5em;
  border-radius: 1.5rem;
}

#my-services {
  background-color: #f9f9f9f9;
  font-family: "Open Sans", "sans-serif";
  padding: 2rem 5rem;
  margin: 0;
  max-width: 100%;
  height: 45em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.serv-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.services-section {
  background-color: white;
  margin: 1rem;
  grid-column: auto;
  grid-row: auto;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  text-align: center;
}

.services-section:hover {
  border-width: 0.2rem 0.2rem 0.4rem 0.2rem;
  border-style: solid;
  border-color: orange;
}

.services-section h3 {
  background-image: radial-gradient(circle at 107.92% 90.56%, green 81.25%, #008062 93.75%, #00aaff 100%);
  color: white;
  -webkit-box-shadow: 5px 5px orange;
          box-shadow: 5px 5px orange;
  font-family: "Nunito Sans", serif;
  width: 100%;
}

.services-section .icons {
  height: 15rem;
  width: 15rem;
  border-color: #1739c0;
  border: solid 1px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact {
  background-color: #f9f9f9f9;
  font-family: "Open Sans", "sans-serif";
  max-width: 1200em;
  padding: 2rem 10rem;
  height: 45em;
}

#contact form {
  background-color: #00aaff;
  border-radius: 0.5rem;
  width: Min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  color: white;
  font-weight: 500;
  height: 90%;
}

#contact form fieldset {
  border: none;
}

#contact form legend {
  text-align: center;
  color: #150a5b;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 73%;
      grid-template-columns: 25% 73%;
  -ms-grid-rows: auto auto auto auto 20rem;
      grid-template-rows: auto auto auto auto 20rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.form-field {
  margin-bottom: 1rem;
}

.form-field:nth-child(1), .form-field:nth-child(2), .form-field:nth-child(5), .form-field:nth-child(6) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-field label {
  margin-bottom: 0.5rem;
  display: block;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.1rem;
  border-radius: 0.7rem;
}

.form-field textarea {
  height: 15rem;
  resize: none;
}

.footer {
  background-color: green;
  margin: 0;
  height: 7rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .btn-info {
    width: 90%;
  }
  .w-sm-100 {
    width: 100%;
  }
  .resume1-main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav a {
    display: block;
    text-align: center;
    font-size: 1.8rem;
  }
  .content-hero {
    position: absolute;
    background-color: rgba(21, 10, 91, 0.4);
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
  }
  .serv-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=logan.css.map */