@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Fleur+De+Leah&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Playwrite+AU+SA:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", system-ui;
  font-weight: 400;
  font-style: normal;
}

.playwrite-au-sa-au-sa {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.shadow {
  -webkit-box-shadow: 1px -1px 14px -7px rgba(0, 0, 0, 0.12);
  box-shadow: 1px -1px 14px -7px rgba(0, 0, 0, 0.12);
}

.shadow2 {
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.54);
}

h2,
.tit1,
h3 {
  text-transform: uppercase;
}

.btn {
  height: 4rem;
  width: 80%;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-color: #210f93;
  border-width: 0.1rem;
  border-radius: 1.5rem;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a55d6), to(#1a55d6));
  background-image: linear-gradient(to right, #1a55d6 0%, #1a55d6 100%);
  font-family: "Poppins", sans-serif;
  box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -webkit-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -moz-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
}

.btn:hover {
  height: 4rem;
  width: 80%;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-color: #210f93;
  border-width: 0.1rem;
  border-radius: 1.5rem;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#1739c0), to(#1739c0));
  background-image: linear-gradient(to right, #1739c0 0%, #1739c0 100%);
  font-family: "Poppins", sans-serif;
  box-shadow: -22px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -webkit-box-shadow: -2px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -moz-box-shadow: 22px 16px 26px -16px rgba(12, 98, 236, 0.65);
}

body {
  font-weight: 300;
  max-width: 1200rem;
  height: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

@media (min-width: 290px) and (max-width: 1200px) {
  #alert {
    padding: 20px;
    background-color: #ff7b71;
    color: #5b3d7a;
    position: fixed;
    margin: 50% auto;
    font-size: 2.6rem;
    width: 100%;
    height: 5rem;
    text-align: center;
  }
  #alert2 {
    padding: 20px;
    background-color: #bbf37b;
    color: #5b3d7a;
    position: fixed;
    margin: 50% auto;
    font-size: 2.6rem;
    width: 100%;
    height: 5rem;
    text-align: center;
  }
  #alert3 {
    padding: 20px;
    background-color: #e1f37b;
    color: #5b3d7a;
    position: fixed;
    margin: 50% auto;
    font-size: 2.6rem;
    width: 100%;
    height: 5rem;
    text-align: center;
  }
  .closebtn {
    margin-right: 3rem;
    color: #5b3d7a;
    font-weight: bold;
    float: right;
    font-size: 2.3rem;
    line-height: 2rem;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: gray;
  }
  .containerBody {
    width: 100%;
    margin: 0;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    color: black;
  }
  #body-invitation1 {
    margin: 0 0 0rem 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
  }
  .invitation-normal-text {
    font-size: 2rem;
    letter-spacing: 0.25em;
    text-align: center;
    margin-left: 0.25em;
    color: black;
  }
  #flower1 {
    height: 60rem;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  #flower2 {
    height: 60rem;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-top: 4.5rem;
  }
  #welcome {
    margin: 5.7rem 0;
    padding: 0rem 0rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #welcome-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px black;
    background-color: #f5f2f7;
    -webkit-box-shadow: 5px 0px 33px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 33px -12px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 37.5rem;
  }
  .invitation-title-text {
    font-size: 2.2rem;
    letter-spacing: 0.25em;
    text-align: center;
    margin-left: 0.25em;
  }
  #top-coord {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .names {
    font-size: 3.3rem;
    line-height: 120%;
    letter-spacing: 0.32em;
    text-align: center;
    margin-left: 0.32em;
    font-family: "Open Sans", "sans-serif";
    color: #5b3d7a;
  }
  .and {
    font-size: 17rem;
    line-height: 17rem;
    letter-spacing: 0em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 0em;
  }
  .and p {
    font-size: 5.5rem;
    line-height: 4rem;
    letter-spacing: 0em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 0em;
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
  }
  #date {
    margin: 2rem 0 3rem 0;
  }
  #count-down {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0rem 0;
  }
  #main-image {
    height: 63rem;
    width: 100%;
    background-image: url("../imgs/wedding/LyN2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: "Nunito Sans", sans-serif;
  }
  .container {
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 2rem;
  }
  svg {
    position: relative;
    top: 6rem;
    fill: #f5f2f7;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .title-1 {
    color: white;
    background-color: #5b3d7a;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0 0 3rem 0;
    font-weight: 200;
  }
  .title-2 {
    color: #5b3d7a;
    font-family: "Open Sans", "sans-serif";
    font-size: 3.5rem;
    margin: 0;
    font-weight: 200;
  }
  .btn-mobile {
    height: 6rem;
    width: 35rem;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #acbbfa;
    border-width: 0.1rem;
    border-radius: 6rem;
    color: #5b3d7a;
    background-color: #acbbfa;
    font-family: "Playwrite AU SA", serif;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
  }
  .btn-mobile:active {
    height: 6rem;
    width: 35rem;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #acbbfa;
    border-width: 0.1rem;
    border-radius: 6rem;
    background-color: #5b3d7a;
    font-family: "Playwrite AU SA", serif;
    color: white;
  }
  .btn-mobile a {
    font-family: "Playwrite AU SA", serif;
    font-size: 2.7rem;
    font-weight: 500;
    text-decoration: none;
    color: #5b3d7a;
  }
  .btn-mobile:active a {
    font-family: "Playwrite AU SA", serif;
    font-size: 2.7rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
  }
  .separator {
    width: 100%;
    padding: 0 0 1rem 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f2f7;
  }
  #branch-sep {
    width: 65%;
    margin: 0 auto;
  }
  #flower-sep {
    width: 40%;
    margin: 4.5rem auto;
  }
  .ceremonia {
    margin: 0 0 0rem 0;
    padding: 1rem 0 13rem 0;
    background-color: #f5f2f7;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #party {
    margin-bottom: 0rem;
  }
  .place-info {
    margin: 0rem 0;
  }
  .icon-wed {
    height: 5rem;
    -webkit-filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
            filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
  }
  .icon-list {
    height: 3rem;
    -webkit-filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
            filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
    display: inline;
  }
  #party-details {
    margin: 0 0 0rem 0;
    padding: 1rem 0 0rem 0;
    background-color: #f5f2f7;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-details {
    padding: 0rem 1rem;
    margin-bottom: 5rem;
    letter-spacing: 0.1em;
    font-size: 2.5rem;
  }
  .invitation-details-text {
    font-size: 2.5rem;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
  }
  .invitation-title-text p {
    margin: 0;
  }
  .section-info {
    width: 70%;
    background-color: #ccd5f5;
    border-radius: 2rem;
    padding: 3rem 2rem;
    margin-bottom: 6rem;
  }
  .icon-details {
    height: 29rem;
    margin: 0rem 0;
    -webkit-filter: none;
            filter: none;
  }
  #headphones {
    height: 18rem;
  }
  #letter {
    height: 13rem;
  }
  #gifts {
    display: none;
  }
  #gift {
    height: 13rem;
  }
  .btn-open-modal {
    margin: 3rem 0;
  }
  #pictures {
    width: 100%;
    margin-top: 6rem;
  }
  .title-carousel {
    color: #5b3d7a;
    padding: 1rem 0rem;
    width: 100%;
    margin: 0 0 0rem 0;
    font-weight: 800;
  }
  .text-carousel {
    width: 90%;
  }
  .icon-wed-carousel-text {
    height: 6.5rem;
    padding: 2rem 0 3rem 0rem;
  }
  #carrusel {
    width: 100%;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #acbbfa;
  }
  .mySlides {
    background-color: white;
    height: 73rem;
    padding: 2rem;
  }
  .mySlides img {
    height: 100%;
    width: 100%;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  /* On smaller screens, decrease text size */
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
  /* The Close Button */
}
@media only screen and (min-width: 290px) and (max-width: 1200px) and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
@media (min-width: 290px) and (max-width: 1200px) {
  #conf {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .angled-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f2f7), to(white));
    background: linear-gradient(180deg, #f5f2f7, white);
  }
  #confirmation {
    margin: 13rem 0 6rem 0;
    background-color: white;
    width: 90%;
  }
  #myModal-Confirm {
    font-size: 2.5rem;
  }
  .text-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
  #branch {
    width: 30%;
    margin: 0 auto;
  }
  #branch2 {
    width: 30%;
    margin: 0 auto;
  }
  .text-one p {
    padding: 0.5rem 3rem;
  }
  #resp-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
  #resp-text p {
    margin: 0 1rem;
  }
  .asistencia-text {
    letter-spacing: 0.13em;
    font-size: 2rem;
    padding: 0;
  }
  .gold-elegant {
    color: #a18905;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 6rem;
    line-height: 1rem;
  }
  #confirm-assist {
    margin-top: 4rem;
    max-width: 100%;
    padding: 0 5rem;
    font-size: 87%;
    line-height: 206%;
    letter-spacing: 0.2em;
  }
  #confirm-assist #name, #confirm-assist #quantity {
    font-size: 1.9rem;
  }
  #confirmation-radio {
    margin-top: 2rem;
  }
  .opt-rad {
    margin: 6rem 0 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opt-rad input {
    max-width: 2rem;
    margin: 0 2rem 0 0;
    accent-color: #5b3d7a;
  }
  #adevertencia {
    padding: 0 3rem;
    font-size: 75%;
    line-height: 190%;
    letter-spacing: 0.25em;
    margin: 0rem 0 2rem 0;
  }
  .separator-logo {
    width: 100%;
    padding: 0 0 0rem 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #logo-wed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0rem 0 0rem 0;
    font-family: "Bentham", serif;
    background-color: white;
    height: 47rem;
    padding: 0rem 0 0 0;
    background-color: #f5f2f7;
  }
  #logo-wed section p {
    margin: 0 0;
  }
  .sectDemo {
    height: 100%;
    background-color: #f5f2f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f2f7), color-stop(white), color-stop(60%), to(#f5f2f7));
    background: linear-gradient(#f5f2f7, white, 60%, #f5f2f7);
  }
  #test1 {
    width: 67%;
    margin: 0 auto;
  }
  .secDemo-content {
    position: relative;
    top: -55%;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .namesDemo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 5.5rem;
  }
  .pinyon {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2.1rem;
  }
  .and {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 8rem;
  }
  .initials {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 6rem;
    letter-spacing: 0em;
  }
  .footer-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0;
    font-size: 3rem;
    background-color: #5b3d7a;
    color: white;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 2rem;
  }
  .header-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .close {
    color: white;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
    padding: 0.8rem;
    line-height: 3rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #5b3d7a;
    width: 5%;
    border-radius: 50%;
  }
  .close:hover,
  .close:focus {
    color: #8f8ed1;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-container {
    padding: 5rem 0;
  }
  .modal-container input {
    font-size: 2.5rem;
    width: 85%;
    text-align: center;
    padding: 1rem 1.5rem;
    border: 0;
    border-bottom: #000 solid 1px;
    font-family: "Nunito Sans", sans-serif;
    outline: none;
  }
  #colors0 {
    height: 26rem;
  }
  #colors2 {
    height: 20rem;
  }
  #colors3 {
    height: 30rem;
    width: 32rem;
  }
  #list-notes {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-container ul {
    font-size: 2rem;
    width: 75%;
    padding: 0rem 1.5rem;
    border: 0;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    list-style: none;
  }
  li {
    list-style-position: square inside;
    padding: 0 0 3rem 0;
  }
  input:focus {
    border-bottom: #5b3d7a solid 0.2rem;
  }
  .btn-modal {
    height: 6rem;
    width: 27rem;
    border-width: 0.1rem;
    border-radius: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
    color: #5b3d7a;
    border-color: #acbbfa;
    background-color: #acbbfa;
    font-family: "Playwrite AU SA", serif;
  }
  .btn-modal:active {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #acbbfa;
    background-color: #5b3d7a;
    font-family: "Playwrite AU SA", serif;
    color: white;
  }
  .closeDC {
    color: white;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
    padding: 0.8rem;
    line-height: 3rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #5b3d7a;
    width: 5%;
    border-radius: 50%;
  }
  .closeDC:hover,
  .closeDC:focus {
    color: #8f8ed1;
    text-decoration: none;
    cursor: pointer;
  }
  .cere-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media (min-width: 1200px) {
  .btn {
    height: 4rem;
    width: 80%;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #210f93;
    border-width: 0.1rem;
    border-radius: 1.5rem;
    color: white;
    background-image: -webkit-gradient(linear, left top, right top, from(#1a55d6), to(#1a55d6));
    background-image: linear-gradient(to right, #1a55d6 0%, #1a55d6 100%);
    font-family: "Poppins", sans-serif;
    box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
    -webkit-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
    -moz-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
  }
  .btn:hover {
    height: 4rem;
    width: 80%;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #210f93;
    border-width: 0.1rem;
    border-radius: 1.5rem;
    color: white;
    background-image: -webkit-gradient(linear, left top, right top, from(#1739c0), to(#1739c0));
    background-image: linear-gradient(to right, #1739c0 0%, #1739c0 100%);
    font-family: "Poppins", sans-serif;
    box-shadow: -22px 16px 26px -16px rgba(12, 98, 236, 0.65);
    -webkit-box-shadow: -2px 16px 26px -16px rgba(12, 98, 236, 0.65);
    -moz-box-shadow: 22px 16px 26px -16px rgba(12, 98, 236, 0.65);
  }
  .containerBody {
    width: 100%;
    margin: 0;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(249, 249, 249, 0.9764705882);
    color: black;
  }
  #body-invitation1 {
    margin: 0 0 0rem 0;
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    -webkit-box-shadow: 5px 0px 33px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 33px -12px rgba(0, 0, 0, 0.75);
  }
  #welcome {
    margin: 0;
    padding: 0rem 0rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
  }
  #flower1 {
    width: 33rem;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    position: relative;
    top: -18rem;
  }
  #flower2 {
    height: 30rem;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-top: -0.5rem;
  }
  #welcome-text {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px black;
    background-color: #f5f2f7;
    position: absolute;
    top: 10rem;
  }
  #top-coord {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7rem;
    line-height: 120%;
    letter-spacing: 0.32em;
    text-align: center;
    margin: 0;
    font-family: "Open Sans", "sans-serif";
    color: #5b3d7a;
  }
  .names p {
    margin: 0 0rem 0 1rem;
  }
  .and {
    font-size: 10rem;
    line-height: 10rem;
    letter-spacing: 0em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 0em;
  }
  .and p {
    letter-spacing: 0em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 0em;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #date {
    margin: 2rem 0 3rem 0;
  }
  .invitation-normal-text {
    font-size: 2rem;
    letter-spacing: 0.25em;
    text-align: center;
    margin-left: 0.25em;
    color: black;
  }
  .invitation-title-text {
    font-size: 1.6rem;
    letter-spacing: 0.25em;
    text-align: center;
    margin-left: 0.25em;
  }
  #count-down {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0rem 0;
  }
  #main-image {
    height: 30rem;
    width: 30rem;
    background-image: url("../imgs/wedding/LyN2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: "Nunito Sans", sans-serif;
    display: none;
  }
  .container {
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 2rem;
  }
  svg {
    position: relative;
    top: 6rem;
    fill: #f5f2f7;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .title-1 {
    color: white;
    background-color: #5b3d7a;
    padding: 1rem 1rem;
    width: 100%;
    margin: 0 0 3rem 0;
    font-weight: 200;
    font-size: 1.6rem;
  }
  .title-2 {
    color: #5b3d7a;
    font-family: "Open Sans", "sans-serif";
    font-size: 1.6rem;
    margin: 0.6rem 0;
    font-weight: 200;
  }
  .btn-mobile {
    height: 3rem;
    width: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-color: #acbbfa;
    border-width: 0.01rem;
    border-radius: 0.5rem;
    color: #5b3d7a;
    background-color: #acbbfa;
    font-family: "Playwrite AU SA", serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
  }
  .btn-mobile:active {
    height: 3rem;
    width: 15rem;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #acbbfa;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    background-color: #5b3d7a;
    font-family: "Playwrite AU SA", serif;
    color: white;
  }
  .btn-mobile a {
    font-family: "Playwrite AU SA", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #5b3d7a;
  }
  .btn-mobile:active a {
    font-family: "Playwrite AU SA", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
  }
  .separator {
    width: 100%;
    padding: 0 0 0rem 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f2f7;
  }
  #branch-sep {
    width: 65%;
    margin: 0 auto;
  }
  #flower-sep {
    width: 15%;
    margin: 2rem auto;
  }
  .ceremonia {
    margin: 0 0 0rem 0;
    padding: 1rem 0 7rem 0;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #party {
    margin-bottom: 0rem;
    padding: 4rem 0 0rem 0;
  }
  .place-info {
    margin: 0rem 0;
    font-size: 1.3rem;
  }
  .icon-wed {
    height: 3rem;
    -webkit-filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
            filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
  }
  #party-details {
    margin: 0 0 0rem 0;
    padding: 4rem 0 0rem 0;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-details {
    width: 80%;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
  }
  .invitation-details-text {
    font-size: 1.5rem;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
  }
  .invitation-title-text p {
    margin: 0;
  }
  .section-info {
    width: 70%;
    background-color: #ccd5f5;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    margin-bottom: 6rem;
  }
  .icon-details {
    height: 10rem;
    margin: 0rem 0;
    -webkit-filter: none;
            filter: none;
  }
  #headphones {
    height: 10rem;
  }
  #letter {
    height: 7rem;
  }
  #gifts {
    display: none;
  }
  #gift {
    height: 10rem;
  }
  .btn-open-modal {
    margin: 1rem 0;
  }
  #pictures {
    width: 33rem;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .title-carousel {
    color: #5b3d7a;
    padding: 1rem 0rem;
    width: 100%;
    margin: 0 0 0rem 0;
    font-weight: 800;
  }
  .text-carousel {
    width: 90%;
  }
  .icon-wed-carousel-text {
    height: 3rem;
    padding: 2rem 0 0rem 0rem;
  }
  #carrusel {
    width: 100%;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  /* Caption text */
  .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: gray;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #acbbfa;
  }
  .mySlides {
    background-color: #f5f2f7;
    height: 37rem;
    padding: 2rem;
  }
  .mySlides img {
    height: 100%;
    width: 100%;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  /* On smaller screens, decrease text size */
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
  /* The Close Button */
}
@media only screen and (min-width: 1200px) and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  #conf {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .angled-gradient {
    background-color: white;
  }
  #confirmation {
    margin: 9rem 0 6rem 0;
    background-color: white;
    width: 60%;
  }
  #myModal-Confirm {
    font-size: 1.5rem;
  }
  .text-one {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #branch {
    width: 25%;
    margin: 0 auto;
  }
  #branch2 {
    display: none;
  }
  .text-one p {
    padding: 0.5rem 3rem;
    font-size: 1.3rem;
  }
  #resp-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  #resp-text p {
    margin: 0 1rem;
    display: in;
  }
  .asistencia-text {
    letter-spacing: 0.03em;
    font-size: 1rem;
    padding: 0;
  }
  .gold-elegant {
    color: #a18905;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 3rem;
    line-height: 0.1rem;
    margin: 0;
  }
  #confirm-assist {
    margin-top: 0rem;
    max-width: 100%;
    padding: 0 5rem;
    font-size: 85%;
    line-height: 206%;
    letter-spacing: 0.2em;
  }
  #confirm-assist #name, #confirm-assist #quantity {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #name-field {
    height: 3rem;
    padding: 0 1rem;
  }
  #quantity-field {
    height: 3rem;
    padding: 0 1rem;
  }
  #confirmation-radio {
    margin-top: 1rem;
  }
  .opt-rad {
    margin: 0.5rem 0 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opt-rad input {
    max-width: 1.6rem;
    margin: 0 0.5rem 0 0;
    accent-color: #5b3d7a;
  }
  #adevertencia {
    padding: 0 3rem;
    font-size: 0.8rem;
    line-height: 190%;
    letter-spacing: 0.25em;
    margin: 0rem 0 1rem 0;
  }
  #send-confirm-rsvp {
    font-size: 1.3rem;
    margin: 0;
  }
  .separator-logo {
    width: 100%;
    padding: 0 0 0rem 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f2f7), color-stop(white), color-stop(60%), to(#f5f2f7));
    background: linear-gradient(#f5f2f7, white, 60%, #f5f2f7);
  }
  #logo-wed {
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0rem 0 0rem 0;
    font-family: "Bentham", serif;
    background-color: white;
    padding: 0rem 0 0 0;
    background-color: #f5f2f7;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
  }
  #logo-wed section p {
    margin: 0 0;
  }
  .sectDemo {
    height: 100%;
    background-color: #f5f2f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f2f7), color-stop(white), color-stop(60%), to(#f5f2f7));
    background: linear-gradient(#f5f2f7, white, 60%, #f5f2f7);
    content: url("../imgs/wedding/logo.png");
    margin: 0 auto;
    height: 20rem;
  }
  #test1 {
    width: 35%;
    margin: 0 auto;
  }
  .secDemo-content {
    position: relative;
    top: -65%;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .namesDemo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.5rem;
  }
  .pinyon {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .and {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 0.7rem;
    line-height: 3rem;
  }
  .initials {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 0em;
  }
  .footer-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0;
    font-size: 1.9rem;
    background-color: #5b3d7a;
    color: white;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 70%;
    border-radius: 2rem;
  }
  .header-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: auto;
    color: white;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 2rem;
    padding: 0.051rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #5b3d7a;
    width: 2.7rem;
    border-radius: 50%;
  }
  .close p {
    position: relative;
    text-align: center;
  }
  .close:hover,
  .close:focus {
    color: #8f8ed1;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-container {
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  .modal-container input {
    font-size: 1.3rem;
    width: 65%;
    text-align: center;
    padding: 1rem 1.5rem;
    border: 0;
    border-bottom: #000 solid 1px;
    font-family: "Nunito Sans", sans-serif;
    outline: none;
  }
  #colors0 {
    height: 12rem;
  }
  #colors1 {
    height: 3rem;
    display: none;
    margin: 0 auto;
  }
  #colors2 {
    height: 10rem;
    width: 14rem;
    margin: 0 auto;
  }
  #colors3 {
    height: 10rem;
    width: 15rem;
  }
  #list-notes {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-container ul {
    font-size: 1.3rem;
    width: 70%;
    padding: 0rem 0.5rem;
    border: 0;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    list-style: none;
  }
  li {
    list-style-position: square inside;
    padding: 0 0 1rem 0;
  }
  .icon-list {
    height: 1.6rem;
    -webkit-filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
            filter: invert(64%) sepia(17%) saturate(903%) hue-rotate(202deg) brightness(88%) contrast(91%);
    display: inline;
  }
  input:focus {
    border-bottom: #5b3d7a solid 0.1rem;
  }
  .btn-modal {
    height: 3rem;
    width: 17rem;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
    color: #5b3d7a;
    border-color: #acbbfa;
    background-color: #acbbfa;
    font-family: "Playwrite AU SA", serif;
  }
  .btn-modal:active {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    border-color: #acbbfa;
    background-color: #5b3d7a;
    font-family: "Playwrite AU SA", serif;
    color: white;
  }
  .closeDC {
    color: white;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
    padding: 0.8rem;
    line-height: 3rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #5b3d7a;
    width: 5%;
    border-radius: 50%;
  }
  .closeDC:hover,
  .closeDC:focus {
    color: #8f8ed1;
    text-decoration: none;
    cursor: pointer;
  }
  .cere-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}/*# sourceMappingURL=wedding-ES.css.map */