//Bootstrap
//@import "../libs/bootstrap-5.1.3/scss/bootstrap.scss";
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500|Open+Sans:300italic,500italic,300,400,500|Qwitcher+Grypen:400,700);



// Font Variables
$nunito-sans: "Nunito Sans", serif;
$open-sans: "Open Sans", "sans-serif";
$qwitcher: 'Qwitcher Grypen', cursive;

//Color variables - primary
$blue-base: #96dbe6;
$purple-base: #cbaacb;
$yellow-base: #ffffb5;
$orange-base: #ffccb6;
$pink-base: #f3b0c3;
//Color variables - secondary
$secondary-yellow1: #f9f871;
$secundary-yellow: #ffcf57;
$secundary-orange: #ff9671;
$secondary-pink1: #ff6f91;
$secondary-pink2: #d65db1;
$secondary-purple: #845ec2;
/*
//RESPONSIVE DESIGN - MOBILE
@media (min-width: 0px) and (max-width: 767px) {
  
}


//RESPONSIVE DESIGN - TABLET AND PC
@media (min-width: 768px) and (max-width: 3000px)  {

}
*/


@mixin background($imgpath, $size, $position: 0 -25px, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}


html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: $open-sans;
  font-weight: 300;
  width: 100%;
}



.title-main {
  font-size: 4em;
  font-family: $qwitcher;
  background-color: white;
  color: gray;
  text-align: center;
  padding: 1% 0%;
}
.title-main #career {
  font-size: 0.25em;
  font-family: $nunito-sans;
}

.contenedor{
  width: 120rem;
  margin: 0% auto;
}
.main-nav {
  border-bottom-color: $secondary-pink1;
  font-family: $open-sans;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  background: rgb(243,176,195);
  background: linear-gradient(0deg, rgba(243,176,195,1) 19%, rgba(255,150,113,1) 46%, rgba(255,111,145,1) 94%);
}

.nav-bg{
  background: rgb(243,176,195);
  background: linear-gradient(0deg, rgba(243,176,195,1) 19%, rgba(255,150,113,1) 46%, rgba(255,111,145,1) 94%);
}

.main-nav a {
  color: white;
  padding: 1rem 1rem;
  font-family: $open-sans;
  text-decoration: none;
  transition: 0.3s;
  font-size: 2rem;
}


.main-nav a:hover {
  color: white;
  padding: 1rem 1rem;
  background-color: $secundary-orange;

}

.subtit {
  background-color: $blue-base;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  color: white;
}
  #subtitle-main {
    font-family: $nunito-sans;
    font-weight: 400;
  }
  #img_main {
    width: 100%;
    height: 50rem;
    //@include background("../imgs/pexels-lukas-317377.jpg", "50px 20px");
   background-image: url("../imgs/pexels-lukas-317377.jpg");
   background-size: cover;

  }

  #my-services {
    background: rgb(150, 219, 230);
    background: linear-gradient(
      180deg,
      rgba(150, 219, 230, 1) 19%,
      $secundary-yellow 73%,
      $yellow-base 100%
    );
    font-family: $open-sans;
  }

  .services-section {
    background-color: white;
    margin: 10px;
  }

  .services-section h3 {
    background-color: $yellow-base;
    box-shadow: 5px 5px $secundary-orange;
    text-align: center;
    font-weight: 500;
    font-family: $open-sans;
  }

  .top-nav {
    background-color: $orange-base;
    color: black;
    padding: 0rem 6rem;
  }




