@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Fleur+De+Leah&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

//iniciales
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

//&
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

//text
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.tangerine-regular {
  font-family: "Tangerine", system-ui;
  font-weight: 400;
  font-style: normal;
}

//Color vars - primary
$blue1: #150a5b;
$blue2: #210f93;
$blue3: #1739c0;
$blue4: #0c62ec;
$blue5: #3e64ee;
$blue6: #1a55d6;
$blue7: #19589d;
$blue8: #0e97ca;
$blue9: #03d6f7;
$background: #f9f9f9f9;

$lila1: #f5f2f7;
$lila5:#5b3d7a;
// Font Variables
$open-sans: "Open Sans", "sans-serif";
$poppins: "Poppins", sans-serif;
$monsieur: "Monsieur La Doulaise", cursive;
$raleway: "Raleway", sans-serif;
$bentham: "Bentham", serif;
$fleur: "Fleur De Leah", cursive;

$nunito: "Nunito Sans", sans-serif;


.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(153, 147, 153, 1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(153, 147, 153, 1);
  box-shadow: 0px 5px 15px 0px rgba(153, 147, 153, 1);
}
@mixin shadowContainer() {
  //write CSS code here
  -webkit-box-shadow: 5px 7px 23px -3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 7px 23px -3px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 7px 23px -3px rgba(0, 0, 0, 0.59);
}

//TYPO
h2,
.tit1,
h3 {
  text-transform: uppercase;
}

.tit1 {
  //font-family: $poppins;
  color: $blue1;
  font-size: 3rem;
  margin: 0;
}

.btn {
  height: 4rem;
  width: 80%;
  justify-self: center;
  align-self: center;
  border-color: $blue2;
  border-width: 0.1rem;
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(to right, $blue6 0%, $blue6 100%);

  font-family: $poppins;
  box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -webkit-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -moz-box-shadow: -12px 16px 26px -16px rgba(12, 98, 236, 0.65);
}
.btn:hover {
  height: 4rem;
  width: 80%;
  justify-self: center;
  align-self: center;
  border-color: $blue2;
  border-width: 0.1rem;
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(to right, $blue3 0%, $blue3 100%);
  font-family: $poppins;
  box-shadow: -22px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -webkit-box-shadow: -2px 16px 26px -16px rgba(12, 98, 236, 0.65);
  -moz-box-shadow: 22px 16px 26px -16px rgba(12, 98, 236, 0.65);
}

body {
  font-weight: 300;
  max-width: 1200rem;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}



////////////////////////////////////////////////////////////////////
//RESPONSIVE DESIGN - MOBILE
@media (min-width: 290px) and (max-width: 1200px) {
  .containerBody {
    width: 100%;
    margin: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    color: black;
  }
  
#body-invitation1 {
  margin: 0 0 2rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //background-image: url("../imgs/wedding/geometricflowers.jpg");
  //background-position: center; /* Center the image */
  //background-repeat: no-repeat; /* Do not repeat the image */
  //background-size: cover;
  //background-size: 100% 100%;
  //@include shadowContainer();
  font-family: $nunito;
}
.invitation-normal-text {
  font-size: 2rem;
  letter-spacing: 0.25em;
  text-align: center;
  margin-left: 0.25em;
}
#flower1{
  height: 60rem;
  transform: scaleX(-1);
 //margin-bottom: 5rem;
}

#flower2{
  height: 60rem;
  transform: scaleX(-1);
  transform: rotate(180deg);
  margin-top: 5rem;
}
#welcome {
  margin: 0rem 0;
  padding: 6rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: pink;
}

#welcome-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px black;
  background-color: $lila1;
  -webkit-box-shadow: 5px 0px 33px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 33px -12px rgba(0,0,0,0.75);
  box-shadow: 5px 0px 33px -12px rgba(0,0,0,0.75);
  position: absolute;
  top: 38rem;

}

.invitation-title-text {
  font-size: 2.2rem;
  letter-spacing: 0.25em;
  text-align: center;
  margin-left: 0.25em;
}

.names {
  font-size: 3.3rem;
  line-height: 120%;
  letter-spacing: 0.32em;
  text-align: center;
  margin-left: 0.32em;
  font-family: $open-sans;
  color: $lila5;

}

.and {
  font-size: 5rem;
  line-height: 0rem;
  letter-spacing: 0em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: $monsieur;
  margin-left: 0em;
}

#date {
  margin: 2rem 0 3rem 0;
}
#LyN{
  height: 40rem;
}

#ceremonia{
margin-bottom: 4rem;
}

#party{
  margin-bottom: 12rem;
  }

.place-info{
  margin: 4rem 0;
}

.icon-wed {
  height: 3rem;
}

.reception {
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: 0em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: $fleur;
  margin-left: 0em;
}



//---------------------------------------------------
#asistencia {
  //width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 7rem 2rem;
  width: 80%;
  padding: 1%;
  background-color: white;
  position:static;
  //top: 10em;
  //left: 5%;
  //border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.21);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.21);
//font-family: $open-sans;
}

.gold-elegant {
  color: #a18905;
  font-family: $monsieur;
  font-size: 2.5rem;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.085rem;
}


.asistencia-text {
  letter-spacing: 0.13em;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0 ;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.text-one{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0;
}

#branch {
  width: 30%;
  margin: 0 auto;
}

.asistencia form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  
  
  font-size: 87%;
  line-height: 206%;
  letter-spacing: 0.25em;
  color: rgb(0, 0, 0);
  font-family: $bentham;
  margin-left: 0.25em;
}

#name {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#name-field {
  border:  #a18905 solid 0.02rem;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0 auto;
}

#confirmation input {
  color:  #a18905;
}

#adevertencia {
  font-size: 65%;
  line-height: 190%;
  letter-spacing: 0.25em;
  margin-top: 1.5rem;
}

}